.projects-wrapper{
    min-height: 581px;
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 144px;
}

.projects-wrap{
    display: flex;
    justify-content: space-between;
}

.projects-container{
    width: 880px;
    gap: 41px;
    display: flex;
    flex-direction: column;
}

.portfolio-title{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.small-title{
  font-family: Karla;
font-weight: 700;
font-style: Bold;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: var(--text-color-cyan);
}

.large-title{
font-family: Fira Code;
font-weight: 700;
font-style: Bold;
font-size: 64px;
line-height: 100%;
letter-spacing: -3%;
color: var(--text-color-cyan);
}

.portfolio-description{
width: 456px;
font-family: Karla;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 120%;
letter-spacing: 0%;
text-align: justify;
color: var(--text-color-white);
}

.project-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px var(--border-color-cyan);
    border-bottom: solid 1px var(--border-color-cyan);
    padding: 40px 32px;
    width: 880px;
}

.project-item:hover{
    background: #3DCFB64D;
    cursor: pointer;
}

.project-name{
font-family: Fira Code;
font-weight: 700;
font-style: Bold;
font-size: 24px;
line-height: 120%;
letter-spacing: 0%;
color: var(--text-color-white);
}

.project-language{
    font-family: Karla;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 120%;
letter-spacing: 0%;
color: var(--text-color-white);
}

.project-preview-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;
    min-height: 270px;
    flex-shrink: 0;
}

.project-preview{
    width: 480px;
    height: 270px;
    background-color: beige;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.project-preview:hover ,.project-preview-wrapper:hover{
    opacity: 0 !important;
}


.projects-list:hover + .project-preview-wrapper .project-preview{
    opacity: 1;
}

.projects-list-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 96px;
}