:root{
    --primary-color : #08463B;
    --landingpage-text-color-white : #D9D9D9;
    --text-color-white : #FFFFFF;
    --text-color-cyan : #3DCFB6;
    --border-color-cyan : #3DCFB6;
    --font-size-box-title : 64px;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

button:hover{
    cursor: pointer;
}